{
    "root": true,
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "rules": {
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "max-len": [
            "error"
        ],
        "indent": [
            "error",
            2
        ]
    }
}
