{
  "tagFormat": "${version}",
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/github",
      {
        "labels": [
          "auto"
        ],
        "releasedLabels": [
          "released"
        ],
        "assignees": [
          "devpow112"
        ]
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ],
        "message": "chore(release): ${nextRelease.version}"
      }
    ]
  ]
}
