name: CI
on:
  pull_request:
    branches: main
  push:
    branches: main
permissions:
  contents: read
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0
      - name: Get node version
        id: node
        run: echo "::set-output name=version::$(cat .nvmrc)"
      - name: Set up node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{steps.node.outputs.version}}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Run lint (JavaScript)
        run: npm run lint:js
      - name: Run lint (Markdown)
        run: npm run lint:md
      - name: Run lint (Git)
        run: npm run lint:git
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
      - name: Get node version
        id: node
        run: echo "::set-output name=version::$(cat .nvmrc)"
      - name: Set up node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{steps.node.outputs.version}}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Run tests (unit)
        run:  npm run test:unit
      - name: Run tests (integration)
        run:  npm run test:integration
      - name: Report coverage
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{github.token}}
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
      - name: Get node version
        id: node
        run: echo "::set-output name=version::$(cat .nvmrc)"
      - name: Set up node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{steps.node.outputs.version}}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Run build
        run: npm run build
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
      - name: Set up CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: javascript
          config-file: .github/codeql.yml
      - name: Run analysis
        uses: github/codeql-action/analyze@v1
